*{
    margin: 0;
    padding:0;
    font-family: 'Poppins' , sans-serif;
}
.header
{
    height: 100%;
}
.navbar-style
{
    background-color: #323d51;
    text-transform: uppercase;
}
.logo
{
    height:48px;
    padding:2px 10px;
}
.icon-bar
{
    background: #d3ac2b;
}
li a
{
    color: #d3ac2b;
}
.contact
{
    margin:90px auto;
    text-align:center;
}
h1
{
    letter-spacing:center;
}
h1:after
{
    content:'';
    background: #d3ac2b;
    display:block;
    width:150px;
    height:3px;
    margin: 10px auto;
}
#micon #collection{
    transition: all 0.3s ease-in-out;
   }
   #micon #collection:hover{
    background-color:#fff; 
   
   }
   .dropdown-menu{
     display: none;
     position: absolute;
     background-color: #f0f0f0;
     box-shadow: 2px 8px 16px 0px rgba(0,0,0,0.2);
     z-index: 1;
   }
   .dropdown-menu a {
    color: #323d51 !important;
    font-size: 16px !important;
   }
   .dropdown:hover .dropdown-menu 
   {display: block;transition: all 0.5s ease-in-out;}

@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

body
{
    background-image: url("bg\ about\ us.jpg");
    background-repeat:no-repeat;
    background-size:100vw 100vh;
    background-attachment: fixed;
}
.container2
{
    width:1100px;
    display:flex;
    justify-content: space-between;
    flex-wrap:wrap;
}
.container2-fluid
{
    position: relative;
    width:320px;
    background: #fff;
    padding: 100px 40 px 60px;
    box-shadow: 0 15px 45px rgba(0,0,0,.1);
}
.container2 .box
{
    position: relative;
    padding:15px;
    width:320px;
    background: #f3f3e9;
    padding: 100px 40 px 60px;
    box-shadow: 0 15px 45px rgba(0,0,0,.1);
}
.container2 .box:before
{
    content: '';
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background: #323d51;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 0.5s;
}
.container2 .box:hover:before
{
    transform: scaleY(1);
    transform-origin:bottom;
    transition: transform 0.5s;
}
.container2 .box h2
{
    position: absolute;
    left:40px;
    top: 60px;
    font-size: 4em;
    font-weight: 800;
    z-index: 1;
    opacity: 0.5;
    transition: 0.5s;
}
.container2 .box:hover h2
{
    opacity: 1;
    color:#d3ac2b;
    transform: translateY(-40px);
}
.container2 .box h3
{
    position: relative;
    font-size: 1.5em;
    font-weight: bold;
    z-index: 2;
    color:#323d51;
    transition: 0.5s;
}
.container2 .box p
{
    position: relative;
    z-index: 2;
    color: #333;
    transition: 0.5s;
}
.container2 .box:hover h3
{
    font-weight: bold;
    color:#d3ac2b;
}
.container2 .box:hover p
{
    color:white;
}
h1{
    color:#d3ac2b;
}
.container2 .box h4
{
    position: relative;
    font-size: 1.5em;
    z-index: 2;
    color: #333;
    transition: 0.5s;
}
.container2 .box:hover h4
{
    color: white;
}

.box2
{
    width:266px;
    height:340px;
    background-color: #323d51;
    box-shadow:2px 2px 30px rgba(0,0,0,0.05);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding:20px;
    border-radius: 10px;
    margin: 20px;
    position: relative;
}
.container3
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
