*{
    margin: 0;
    padding:0;
}
body
{
    background-color: #cbcfd8;
}
.header
{
    height: 100%;
}
.navbar-style
{
    background-color: #323d51;
    text-transform: uppercase;
}
.logo
{
    height:48px;
    padding:2px 10px;
}
.icon-bar
{
    background: #d3ac2b;
}
li a
{
    color: #d3ac2b;
}
.contact
{
    margin:90px auto;
    text-align:center;
}
h1
{
    color:#d3ac2b;
    letter-spacing:center;
}
h1:after
{
    content:'';
    background: #d3ac2b;
    display:block;
    width:150px;
    height:3px;
    margin: 10px auto;
}
#micon #collection{
    transition: all 0.3s ease-in-out;
   }
   #micon #collection:hover{
    background-color:#fff; 
   
   }
   .dropdown-menu{
     display: none;
     position: absolute;
     background-color: #f0f0f0;
     box-shadow: 2px 8px 16px 0px rgba(0,0,0,0.2);
     z-index: 1;
   }
   .dropdown-menu a {
    color: #323d51 !important;
    font-size: 16px !important;
   }
   .dropdown:hover .dropdown-menu 
   {display: block;transition: all 0.5s ease-in-out;}

.box2
{
    width:266px;
    height:340px;
    background-color: #323d51;
    box-shadow:2px 2px 30px rgba(0,0,0,0.05);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding:20px;
    border-radius: 10px;
    margin: 20px;
    position: relative;
}

.container2
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.top-bar
{
    width:50%;
    height:4px;
    position:absolute;
    left:50%;
    top:0px;
    transform:translateX(-50%);
    background-color:#d3ac2b;
    border-radius: 0px 0px 10px 10px;
}
.details
{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.details img
{
    width:150px;
    height:200px;
}
.details1
{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.details1 img
{
    width:250px;
    height:160px;
}

.details strong
{
    font-weight: 500;
    font-size: medium;
    color: #d3ac2b;
    letter-spacing: 1px;
    margin-top: 10px;
}
.details1 strong
{
    font-weight: 500;
    font-size: 35px;
    color: #d3ac2b;
    letter-spacing: 1px;
    margin-top: 10px;
}
.details p
{
    font-size: 1rem;
    color:white;
    margin:5px 0px;
}
.details1 p
{
    font-size: 1rem;
    color:white;
    margin:5px 0px;
}